@import fonts

//==========Font-families
$BebasNeueBold: BebasNeueBold
$Lato-Black: Lato-Black
$Lato-Medium: Lato-Medium
$Lato-Regular: Lato-Regular
$Lato-SemiBold: Lato-SemiBold

//===========Colors
$mainColorBlack: #040707
$mainColorYellow: #ffc61a
$mainColorWhite: #fefefe
$fontBlack: #000000
$transparents: transparent